body {
  background: black;
}

img.clock {
  display: block;
  width: 55%;
  margin: auto;
  padding: 25px;
}

button {
  color: white;
  font-size: 18px;
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 15px 50px;
  background-color: #f1264c;
  border: 0 solid #f1264c;
  border-bottom-width: 3px;
  border-bottom-color: #d60e33;
  outline: 0;
}

button:active {
  background-color: #d60e33;
  border-top: 1px solid black;
  border-bottom: none;
}
